body {
    margin: 0;
    background-color: rgb(100 92 78 / 75%);
}

.sign-up {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px 0 100px;
}

.left-column {
    background-image: url(./house.jpg);
    background-size: cover;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 45vw;
    background-repeat: no-repeat;
    width: max(45%, 400px);
}

.right-column {
    display: flex;
    flex-direction: column;
    padding: 0 100px 0 100px;
    height: 100vh;
    width: max(45%, 400px);
    background-color: white;
}

@media screen and (max-width: 1250px) {

    .sign-up {
        flex-direction: column;
    }

    .left-column {
        background-image: url(./media-house.jpg);
        background-position: center;
        height: 25vh;
        width: 80vw;
    }

    .right-column {
        width: 80vw;
    }

}

.left-header {
    display: flex;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    justify-content: center;
    position: absolute;
    width: 100%;
}



.right-header {
    line-height: 50px;
    font-size: 2.5vw;
}

form ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 25px;
}

form li {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-right: 50px;
}