body {
    margin: 0;
    background-color: rgb(66 44 4 / 85%);
    font-family: 'Barlow', sans-serif;
}

.sign-up {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px 0 100px;
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-column {
    background-image: url(house.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    height: 100vh;
    width: max(33%, 450px);
}

.right-column {
    width: max(45%, 400px);
    background-color: white;
    min-height: 100vh;
}

.left-header {
    display: flex;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    justify-content: center;
    position: absolute;
    width: 100%;
}

h1 {
    font-weight: normal;
}

.right-header {
    line-height: 40px;
    font-size: 1.5em;
    padding: 1.5rem;
    font-weight: 800;
    color: #4e2400bd;
}

form {
    padding: 1.5rem;
}

.field {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2em;
    margin: 0;
    box-shadow: 5px 7px 9px 7px #915a2247;
}

.field-input {
    display: flex;
    position: relative;
    flex-direction: column;
    list-style: none;
    justify-content: center;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

label {
    display: none;
    position: absolute;
    font-size: .9em;
    width: 11vw;
    font-variant: all-small-caps;
    left: 11px;
    top: 1px;
    animation: fadein .3s;
}

input:focus+label {
    display: block;
}

input {
    background-color: #603e0024;
}

input,
input:focus {
    height: 3vh;
    width: 13rem;
    border: 1px solid #915a2299;
    border-radius: 0.2em;
    font-size: 1rem;
    padding: 15px 0 0 10px;
}

input:focus {
    outline: 0px;
    background-color: white;
}

input:not(:focus):not(:placeholder-shown):invalid {
    background-color: rgb(255 171 171 / 36%);
    border-color: red;
}

input:not(:focus):not(:placeholder-shown):valid {
    background-color: rgba(187, 250, 187, 0.397);
    border-color: green;
}

input:not(:focus):not(:placeholder-shown)+label {
    display: block;
}

input:focus::placeholder {
    transition: .3s ease-out;
    color: transparent;
}

label span {
    color: red;
}

.placeholder {
    position: absolute;
    height: 3vh;
    font-size: 1.2rem;
    padding: 15px 0 0 10px;
}

.requirement {
    position: absolute;
    top: 3rem;
    background: #ffe8d7;
    border: 1px solid #915a2299;
    border-radius: 2px;
    padding-right: 0.3em;
}

.require {
    display: flex;
    padding-left: 1.5em;
    height: 1.4em;
    font-size: 1.1em;
}

.require:before {
    width: 1.5em;
    height: 1.5em;
    display: block;
    position: absolute;
    left: 0;
    content: ' ';
    background-image: url(./invalid.png);
    background-repeat: no-repeat;
    margin-left: .1em;
}

.check {
    color: green;
}

button {
    margin-top: 3vh;
    padding: 0.5rem 2.5rem;
    font-size: 1.5em;
    border: 1px solid #915a22ba;
    border-radius: 0.3em;
    background-color: rgb(102 74 25 / 75%);
    color: white;
    letter-spacing: .1rem;
    box-shadow: 6px 5px 7px #5a2f0452;
}

.login {
    margin: 1.5em;
}

@media screen and (max-width: 1200px) {

    .sign-up {
        display: flex;
        flex-direction: column;
    }

    .left-column {
        background-image: url(./media-house.jpg);
        background-position: center;
        height: 25vh;
        width: 80vw;
    }

    .right-column {
        justify-content: flex-start;
        min-height: 75vh;
        width: 80vw;
        margin: 0 100px;
        padding: 0 !important;
    }

    .right-header {
        font-size: 2.5vh;
        line-height: 1.5;
    }

    form,
    .right-header,
    .login {
        padding: 1rem 1.5rem;
        margin: 0;
    }

    .field {
        box-shadow: 0px 0px 9px 7px #915a2247;
        justify-content: center;
    }

    input,
    input:focus {
        width: 13.5em;
    }

    label {
        width: auto;
        font-size: .9em;
    }

    button {
        margin-top: 1.5rem;
        padding: 0.2rem 1.5rem;
        font-size: 1.4em;
        letter-spacing: normal;
    }

}