body{
    margin:0;
}

.sign-up{
    display:flex;
    background-color:gray;
    min-height: 100vh;
    align-items:center;
    justify-content:center;
}

.left-column{
    display:flex;
    position:relative;
    justify-content:center;
    align-items:center;
    height:700px;
}

#image{
    height:700px;
}

.left-header{
    display:flex;
    background-color: rgba(0, 0, 0, .7);
    color:white;
    justify-content:center;
    position:absolute;
    width:100%;
}

.right-column{
    display:flex;
}